* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.sidebar {
  background-color: black;
  height: 100vh;
  width: 200px;
  position: fixed;
}
.links-container {
  padding: 2.5rem 1.5rem;
  text-transform: capitalize;
}
.links-container a {
  display: block;
  color: #898989;
  text-decoration: none;
  font-size: 2rem;
  margin-bottom: 0.5rem;
}
.links-container a:hover {
  color: white;
}
.content {
  padding: 2.5rem 1.5rem;
}
.content-title {
  text-transform: capitalize;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.content p {
  font-size: 1.3rem;
}
