* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

.nav {
  background: #f1f1f1;
  display: flex;
  flex-direction: column;
}

.nav-link {
  font-size: 1.5rem;
  padding: 1rem 0;
  text-align: center;
}
.nav-link:hover {
  background: #6f6f6f;
  color: white;
}
@media screen and (min-width: 400px) {
  .nav {
    display: grid;
    grid-template-columns: repeat(4, 25%);
  }
}
@media screen and (min-width: 700px) {
  .nav {
    display: flex;
    position: fixed;
    flex-direction: column;
    height: 100vh;
    width: 150px;
  }
  main {
    margin-left: 150px;
  }
}
.nav-link.active {
  background: #4caf50;
  color: white;
}
.content-center {
  padding: 1rem 1.5rem;
}
.title {
  font-size: 2rem;
  padding-bottom: 0.5rem;
}
.text {
  font-size: 1.3rem;
  text-align: justify;
}
