* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  margin: 3rem 5rem;
}
.icon {
  border-radius: 50%;
  color: black;
  background: rgb(228, 131, 18);
  padding: 20.2rem;
  font-size: 2rem;
}
.labibi {
  border-radius: 50%;
  width: 407px;
  height: 407px;
}
